streamlit
langchain-google-genai
langchain-community
langchain-text-splitters
python-dotenv
faiss-cpu
msoffcrypto-tool
pypdf
docx2txt
openpyxl
duckduckgo-search>=6.0.0
google-generativeai
cryptography>=3.1